---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About me</h3>
    <p>I am a third-year graduate student in MIT EECS and Mathematics, being part of <a class="other" href="https://www.ericandwendyschmidtcenter.org/">Eric and Wendy Schmidt Center</a> at <a class="other" href="https://www.broadinstitute.org/">Broad Institute of Harvard and MIT</a>. I am also an affiliated researcher closely working with Prof <a class="other" href="https://biweihuang.com/">Prof.Biwei Huang</a>(Assistant Professor in EECS,UC San Diego) and Prof Kun Zhang(Associate Professor in CMU). Prior to leaving New York, I was fortunately supervised by <a class="other" href="https://bryantjmoy.com/">Prof.Bryant Moy</a> at NYU Center for Data Science and <a class="other" href="https://michelesantacatterina.github.io/">Prof.Michele</a> at Grossman School of Medicine at NYU Langone. I received my master's degree jointly offered by <a class="other" href="https://math.nyu.edu/dynamic/sites/tandon/">Tandon School of Engineering and Courant Institute of Mathematics</a>.</p>
    <p>My <strong>research interests</strong> are focused on theory in mathematics for causality in particular probabilistic graphical models and Applied Algebraic Geometry; I develop theoretical and computational methods in Causal Representation Learning in cancer-driving mutation, genomics and other biophysical processes. </p>
   <div class="col-md-5">
    <br>
    <img src="{{ site.github.url }}/assets/img/causality(1).png" alt="Home" width="120%">
    <p style="font-size:12px">
      <u>My Research Vision</u>
    </p>
  </div>
  </div>
  <div class="col-md-5">
    <br>
    <img src="{{ site.github.url }}/assets/img/me.jpg" alt="Home" width="100%">
    <p style="font-size:12px">
      Location: <a class="other" href='https://maps.app.goo.gl/Y3ZpwAgBNz2LMhqdA'>Charles River, Cambridge,Massachusetts, United States</a>.
    </p>
  </div>
</div>


{% include news.html %}

<!--
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
-->
