---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Teaching</h3>
    <h4>New York University</h4>
    <h5>2022</h5>
    {% for item in site.data.teaching_data %}
      {% if item.place == "NYU" and item.year == "Spring 2022" %}  
        <p>{{ item.name }}. {{ item.degree }}.</p>
      {% endif %}
      {% if item.place == "NYU" and item.year == "Fall 2022" %}  
        <p>{{ item.name }}. {{ item.degree }}.</p>
      {% endif %}
      {% if item.place == "NYU" and item.year == "Fall 2022-Spring 2023" %}  
        <p>{{ item.name }}. {{ item.degree }}.</p>
      {% endif %}
    {% endfor %}
    <h5>2023</h5>
    {% for item in site.data.teaching_data %}
      {% if item.place == "NYU" and item.year == "Spring 2023" %}  
        <p>{{ item.name }}. {{ item.degree }}.</p>
      {% endif %}
      {% if item.place == "NYU" and item.year == "Fall 2023" %}  
        <p>{{ item.name }}. {{ item.degree }}.</p>
      {% endif %}
    {% endfor %}
  </div>
</div>
